html {
	font-family: "Goldman", cursive;
	background: linear-gradient(#7777fa, #7efa7e);
}
main {
	min-height: 90vh;
}
canvas {
	border: 1px solid #000;
	display: block;
	margin: 0 auto;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
form {
	padding-top: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 30px;
	color: #7efa7e;
}
footer {
	font-size: 1.5em;
	text-align: center;
}

footer img {
	width: 150px;
	position: absolute;
	left: 6vw;
	top: 7vh;
}
